<!doctype html>
<html lang="en">
    <head>
        <title>Equipment Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header>
            This is my header bar
        </header>
        <main>
            {% for category in categories %}
            <article class="category">
                <h2>{{ category.name }}</h2>
                <section>
                    {% for item in category.items %}
                    <div>{{ item.name }}</div>
                    {% endfor %}
                </section>
            </article>
            {% endfor %}
        </main>
    </body>
</html>