<!doctype html>
<html lang="en">
    <head>
        <title>Equipment Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header>
            This is my header bar
        </header>
        <main>
            <article class="category">
                <h2>Category 1</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 4</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 1</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 4</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 1</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 4</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 1</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 4</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 1</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 4</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 1</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
            <article class="category">
                <h2>Category 4</h2>
                <section>
                    <div>Item 1</div>
                    <div>Item 2</div>
                </section>
            </article>
        </main>
    </body>
</html>