<!doctype html>
<html lang="en">
    <head>
        <title>Equipment Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header class="row">
            <span class="flex">Sports Equipment</span>
            <button class="button" title="Login">Login</button>
        </header>
        <main>
            {% for category in categories %}
            <article>
                <div class="row">
                    <span class="flex">{{ category.name }}</span>
                    <button class="button button-round" title="New Item">+</button>
                </div>
                <section>
                    {% for item in category.items %}
                    <div class="clickable">{{ item.name }}</div>
                    {% endfor %}
                </section>
            </article>
            {% endfor %}
        </main>
    </body>
</html>