<!doctype html>
<html lang="en">
    <head>
        <title>Equipment Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header class="row">
            <span class="flex">Sports Equipment</span>
            <button class="button" title="Login">Login</button>
        </header>
        <main>
            <article>
                <div class="row">
                    <span class="flex">{{ category.name }}</span>
                </div>
                <section>
                    <label>Name: </label>
                    <input type="text" value="{{ item.name }}" />
                </section>
            </article>
        </main>
    </body>
</html>