<!doctype html>
<html lang="en">
    <head>
        <title>Equipment Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header class="row">
            <span class="flex">Sports Equipment</span>
            <a href="/"><button class="button" type="button">Login</button></a>
        </header>
        <main>
            <article>
                <div class="row">
                    <span class="flex">{{ category.name }}</span>
                </div>
                <section>
                    <!-- action intentionally omitted to post back to current page -->
                    <form method="POST">
                        <input type="hidden" value="{{ item.id }}" />
                        <label for="name">Name: </label>
                        <div class="row">
                            <input id="name" name="name" type="text" value="{{ item.name }}" />
                        </div>
                        <label for="description">Description: </label>
                        <div class="row">
                            <textarea id="description" name="description" rows="5">{{ item.description }}</textarea>
                        </div>
                        <div class="row">
                            <button type="submit" class="button">Save</button>
                            <a href="{{ url_for('viewItem', itemId=item.id) }}">
                                <button class="button" type="button">Cancel</button>
                            </a>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </body>
</html>