<!doctype html>
<html lang="en">
    <head>
        <title>Equipment Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header class="row">
            <span class="flex">Sports Equipment</span>
            <a href="{{ url_for('showLogin') }}"><button class="button" type="button">Login</button></a>
        </header>
        <main>
            <article>
                <div class="row">
                    <span class="flex">{{ item.category.name }}</span>
                </div>
                <section>
                    <!-- form is for view consistency and will not post -->
                    <form>
                        <label for="name">Name: </label>
                        <div class="row">
                            <input id="name" type="text" value="{{ item.name }}" disabled />
                        </div>
                        <label for="description">Description: </label>
                        <div class="row">
                            <textarea id="description" rows="5" disabled>{{ item.description }}</textarea>
                        </div>
                        <div class="row">
                            <a href="{{ url_for('editItem', itemId=item.id) }}">
                                <button class="button" type="button">Edit</button>
                            </a>
                            <a href="{{ url_for('deleteItem', itemId=item.id) }}">
                                <button class="button" type="button">Delete</button>
                            </a>
                            <a href="/"><button class="button" type="button">Back</button></a>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </body>
</html>