<!DOCTYPE html>
<html>
<head>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
    <!-- GOOGLE PLUS SIGN IN-->
    <div id="signinButton">
        <span data-clientid="873378283045-k5mojqrmtu6qho5lg3mgij5arh7aqvi5.apps.googleusercontent.com" 
            class="g-signin" data-scope="openid email" data-redirecturi="postmessage" data-accesstype="offline" 
            data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
        </span>
    </div>
    <div id="result"></div>

    <script>
        function signInCallback(authResult) {
            if (authResult["code"]) {
                // Hide the sign-in button now that the user is authorized
                $("#signinButton").attr("style", "display: none");

                // Send the one-time-use code to the server, if the server responds, write a "login successful" message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: "POST",
                    url: "/gconnect?state={{STATE}}",
                    processData: false,
                    data: authResult["code"],
                    contentType: "application/octet-stream; charset=utf-8",
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $("#result").html("Login Successful!</br>" + result + "</br>Redirecting...")
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 4000);
                        } else if (authResult["error"]) {
                            $("#result").html("Unable to login to Google. Check the console.");
                            console.log("There was an error: " + authResult["error"]);
                        } else {
                            $("#result").html("Failed to make a server-side call. Check your configuration and console.");
                        }
                    } // end success
                }); // end ajax call
            } // if (authResult["code"])
        } // signInCallback
    </script>
    <!--END GOOGLE PLUS SIGN IN -->
</body>
</html>
